 *{
	margin:0px;
	padding:0px;
    }
	
.body{ 
    border;
    width:1700;
	height:1700;
	margin:auto;
	padding-left:30px;
	padding-top:20px;
	}
.r2{ 
    border:1px solid black;
	width:200; 
	height:200; 
	background-color:#989898;
    font-size:130;
	text-align:center;
	float:left;
    }
		
.ic{
    border:1px solid black; 
	width:200; 
	height:200; 	
    font-size:130;
	text-align:center;
    float:left;	
	}